@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/

}

body{
    background-image: linear-gradient(to left, #023535, #015958, #008F8C, #0CABA8, #0FC2C0);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #011b1b9d;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #023535;
    text-align: center;
    text-shadow: 1px 1px 2px #011b1b6e;
}

h2{
    color: #008F8C;
}

p{
    text-align: justify;
    }